force-app/main/default/flows/RSM_Import_Silae.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Import_Silae</name>
        <label>Import Silae</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>PaieBillingController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_Done</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>monthIso</name>
            <value>
                <elementReference>selMonth</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PaieBillingController</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>s202606</name>
        <choiceText>Juin 2026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2026-06-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202607</name>
        <choiceText>Juillet 2026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2026-07-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202608</name>
        <choiceText>Août 2026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2026-08-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202609</name>
        <choiceText>Septembre 2026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2026-09-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202610</name>
        <choiceText>Octobre 2026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2026-10-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202611</name>
        <choiceText>Novembre 2026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2026-11-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202612</name>
        <choiceText>Décembre 2026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2026-12-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202701</name>
        <choiceText>Janvier 2027</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2027-01-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202702</name>
        <choiceText>Février 2027</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2027-02-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202703</name>
        <choiceText>Mars 2027</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2027-03-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202704</name>
        <choiceText>Avril 2027</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2027-04-01</stringValue>
        </value>
    </choices>
    <choices>
        <name>s202705</name>
        <choiceText>Mai 2027</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2027-05-01</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Import Silae {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RSM - Import Silae</label>
    <processType>Flow</processType>
    <screens>
        <name>Screen_Choix</name>
        <label>Import Silae — choix du mois</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Import_Silae</targetReference>
        </connector>
        <fields>
            <name>info_txt</name>
            <fieldText>&lt;p&gt;Cette action &lt;b&gt;simule l&apos;import Silae&lt;/b&gt; : un nombre de &lt;b&gt;bulletins de paie&lt;/b&gt; (simulé) est généré pour le &lt;b&gt;mois choisi&lt;/b&gt;. Le montant à facturer = nb bulletins × prix unitaire.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>selMonth</name>
            <choiceReferences>s202606</choiceReferences>
            <choiceReferences>s202607</choiceReferences>
            <choiceReferences>s202608</choiceReferences>
            <choiceReferences>s202609</choiceReferences>
            <choiceReferences>s202610</choiceReferences>
            <choiceReferences>s202611</choiceReferences>
            <choiceReferences>s202612</choiceReferences>
            <choiceReferences>s202701</choiceReferences>
            <choiceReferences>s202702</choiceReferences>
            <choiceReferences>s202703</choiceReferences>
            <choiceReferences>s202704</choiceReferences>
            <choiceReferences>s202705</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mois à importer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Done</name>
        <label>Import terminé</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>done_txt</name>
            <fieldText>&lt;p&gt;✅ &lt;b&gt;Bulletins importés&lt;/b&gt; pour &lt;b&gt;{!selMonth}&lt;/b&gt; (simulation Silae). Le cockpit &lt;b&gt;Facturation Paie&lt;/b&gt; se met à jour automatiquement.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>refreshPub</name>
            <extensionName>c:regieRefreshPublisher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Choix</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
